<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ManageCare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/resources/static/bootstrap-responsive.min.css" rel="stylesheet">
    </link>
</head>
<body>
<div class="container">
    <h3>Welcome to Manage-Care</h3>

    <a href="/patients">Patients</a>
    <br/><br/>
    <a href="/questions">Questions</a>
    <br/><br/>
    <a href="/medication">Medication</a>
    <br/><br/>

</div>
</body>
</html>